<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        
        {{> header}}

        <p>Some useful links:</p>
        <p><a href="/about">ABOUT PAGE</a></p>
        <p><a href="/bad">BAD PAGE</a></p>
        <p><a href="/project">PROJECT PAGE</a></p>
    
        <p>{{message}}</p>
       {{> footer}}
    </body>
</html>